.container
  = render "layouts/nav_user"
  .span11
    %hr
      .row
        .span6
          = image_tag "admin.jpg"
        .span3{style: "margin-left:5%"}
          %h4 Панель управления сайтом
          = form_tag auth_path do
            %hr
              = text_field_tag :email, params[:email],placeholder: "Ваша электронная почта"
              %br
              %br
                = password_field_tag :password_digest, params[:password_digest],placeholder: "Пароль"
                %div{style: "margin-top:6%"}
                  = submit_tag "Войти", :class => "btn btn-primary"
      %hr