= form_for @student do |f|
  .field
    = f.label :email
    = f.text_field :email
  .actions
    %br
    = f.submit 'Сохранить', class: 'btn btn-success'
    = link_to 'Назад', :back , class: "btn btn-danger", style: "margin-left:5%"
