.container
  = render "layouts/nav_user"
  .span3
    %h5
      Здравствуйте, #{current_user.name}, #{current_user.email}
    %hr
  .span11
    %h3 Список комнат
    .row-fluid
      %ul.thumbnails
        - @rooms.each do |room|
          = render "rooms", room: room
    %hr
      = link_to 'Новая комната', new_room_path, class: "btn btn-primary"
/ /container