<%= javascript_include_tag "application" %>

<div class="container">
<%= render "layouts/nav_user" %>
<h2> Список комнат </h2>
<hr>

<table class="table table-bordered">
  <tr>
    <th>Имя</th>
    <th>Описание</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= room.title %></td>
    <td><%= room.description %></td>
    <td><%= link_to 'Показать', room %></td>
    <td><%= link_to 'Редактировать', edit_room_path(room) %></td>
    <td><%= link_to 'Удалить', room, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'Новая комната', new_room_path, class: "btn btn-primary" %>
</div>
