<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>МПТ Онлайн-семинары</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MPT Webinar System">
    <meta name="author" content="Andrey Noscov">

    <!-- Le styles -->
  <%= stylesheet_link_tag "bootstrap-3.css" %>
  <%= stylesheet_link_tag "justified-nav.css" %>
  <%= stylesheet_link_tag 'chat' %>

    <style type="text/css">


     body {
      background-image: url(<%= asset_path("cream_pixels.png")%>)

    }
   
    .btn-success {
      background-color: rgba(239, 241, 247, 0.22);
      color: rgba(72, 68, 175, 0.73);
      border-color: rgba(46, 56, 124, 0.5);

    }

    .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
      background-color: rgba(65, 45, 170, 0.78);
      border-color: rgba(46, 56, 124, 0.5);
    }

    .btn-default:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
      background-color: rgba(162, 156, 25, 0.74);
      border-color: rgba(46, 56, 124, 0.5);
    }

.btn-default {
color: #ffffff;
background-color: rgba(27, 29, 32, 0.8);
border-color: rgba(50, 50, 153, 0.31);
}
    </style>

  <%= csrf_meta_tag %>

</head>
<body>

<%= yield %>

    <!-- Скрипты, не трогать
================================================== -->
<%= javascript_include_tag 'application' %>


</body>
</html>
